* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: 'Poppins', sans-serif; }

.signing-main {
  display: flex;
  height: 100vh;
  background-color: #F9FAFF; }

.background-image {
  flex: 1;
  height: 100%;
  background: center/cover no-repeat url("../images/bg.png"); }

.signing-block {
  width: 560px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 96px;
  padding-right: 96px;
  left: 0px; }

h1 {
  font-size: 24px;
  font-weight: 600;
  color: #202225;
  height: 32px;
  line-height: 32px;
  display: flex; }
  h1 .h1__icon {
    width: 40px;
    position: relative; }
    h1 .h1__icon img {
      position: relative;
      left: 30%;
      transform: translateX(-50%); }

.form {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%; }
  .form__input-wrapper {
    border: 1px solid #DCE0EC;
    height: 56px;
    width: 100%;
    border-radius: 8px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative; }
    .form__input-wrapper_errored-pass {
      border: 1px solid #FF2567; }
      .form__input-wrapper_errored-pass::after {
        content: 'Password contain unsupported characters';
        color: #F6657F;
        position: absolute;
        height: 16px;
        line-height: 16px;
        font-size: 13px;
        font-weight: 400;
        width: 100%;
        bottom: -24px;
        left: 0px; }
        @media (max-width: 576px) {
          .form__input-wrapper_errored-pass::after {
            bottom: -26px; } }
    .form__input-wrapper_errored-email {
      border: 1px solid #FF2567; }
      .form__input-wrapper_errored-email::after {
        content: 'Email not found. Please check the spelling';
        color: #F6657F;
        position: absolute;
        height: 16px;
        line-height: 16px;
        font-size: 13px;
        font-weight: 400;
        width: 100%;
        bottom: -24px;
        left: 0px; }
        @media (max-width: 576px) {
          .form__input-wrapper_errored-email::after {
            bottom: -26px; } }
    .form__input-wrapper_focused {
      border: 1px solid #7297FF; }
  .form__input-first-icon {
    width: 64px;
    display: flex;
    align-items: center;
    position: relative; }
    .form__input-first-icon img {
      position: relative;
      left: 56%;
      transform: translateX(-50%); }
  .form__input-text {
    flex: 1;
    display: flex;
    align-items: center; }
    .form__input-text input {
      border: none;
      outline: none;
      font-size: 17px;
      font-weight: 400;
      line-height: 22px;
      height: 100%;
      width: 100%; }
      .form__input-text input::-moz-placeholder {
        color: #A1ABC9; }
      .form__input-text input::-webkit-input-placeholder {
        color: #A1ABC9; }
  .form__input-last-icon {
    width: 64px;
    display: flex;
    align-items: center;
    position: relative; }
    .form__input-last-icon img {
      position: relative;
      left: 43.75%;
      transform: translateX(-50%); }
  .form__button {
    background: #7297FF;
    border-radius: 8px;
    width: fit-content;
    min-width: 146px;
    height: 56px;
    padding: 16px 24px;
    text-align: left;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 16.17px; }
    .form__button-icon {
      height: 100%;
      display: flex;
      align-items: center; }

.link-block__question {
  height: 24px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  color: #A1ABC9;
  padding-right: 12px; }

.link-block__offer {
  height: 24px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 600;
  color: #7297FF; }

.info-message {
  color: #A1ABC9;
  font-size: 15px;
  font-weight: 400;
  margin-top: 32px;
  line-height: 19px; }

.email-link {
  color: #7297FF; }

@media (max-width: 768px) {
  .background-image {
    background: left/cover no-repeat url("../images/bgTab.png"); } }

@media (max-width: 576px) {
  .signing-main {
    flex-direction: column; }
  .background-image {
    background: top/cover no-repeat url("../images/bg.png");
    width: 100%;
    flex: none;
    height: 96px; }
  .signing-block {
    flex: 1;
    margin-top: 72px;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #F9FAFF;
    border-radius: 24px 24px 0px 0px;
    padding-top: 32px; }
  .form {
    gap: 24px;
    padding-top: 24px; }
    .form__button {
      margin-top: 8px;
      height: 48px; }
    .form__input-wrapper {
      height: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative; }
      .form__input-wrapper_errored-pass {
        margin-bottom: 48px; }
      .form__input-wrapper_errored-email {
        margin-bottom: 46px; }
        .form__input-wrapper_errored-email::after {
          bottom: -24px; }
    .form__input-first-icon {
      width: 48px; }
    .form__input-last-icon {
      width: 48px; }
    .form__input-text input {
      font-size: 15px;
      line-height: 19px; }
  .link-block {
    display: flex;
    flex-direction: column; }
  h1 {
    font-size: 20px; }
  .info-message {
    margin-top: 24px; } }

.forgotPassword-link {
  margin-top: 32px; }
  .forgotPassword-link u {
    font-weight: 500;
    height: 23px;
    line-height: 23px; }

.signing-block-sign-in {
  margin-top: 264px; }

.footer-sign-in {
  margin-top: 257px; }

@media (max-width: 576px) {
  .signing-block-sign-in {
    margin-top: -24px; }
  .footer-sign-in {
    flex: 1;
    display: flex;
    margin-bottom: 44px;
    align-items: end;
    margin-top: 0px; } }

.signing-block-sign-up {
  margin-top: 168px; }

.footer-sign-up {
  margin-top: 120px; }

@media (max-width: 576px) {
  .signing-block-sign-up {
    margin-top: -24px; }
  .footer-sign-up {
    flex: 1;
    display: flex;
    margin-bottom: 44px;
    align-items: end;
    margin-top: 0px; } }

.signing-block-res-pass {
  margin-top: 264px; }

@media (max-width: 576px) {
  .signing-block-res-pass {
    margin-top: -24px; } }

.signing-block-res-pass-sent {
  margin-top: 264px; }

@media (max-width: 576px) {
  .signing-block-res-pass-sent {
    margin-top: -24px; } }
