=error-after-style
    color: $errorText-color
    position: absolute
    height: 16px
    line-height: 16px
    font-size: 13px
    font-weight: 400
    width: 100%
    bottom: -8px - 16px
    left: 0px
    @media (max-width: 576px)
        bottom: -16px - 9.5px
