.signing-block-sign-up
    top: 16.4%

.footer-sign-up
    margin-top: 11.7vh

@media (max-width: 576px)
    .signing-block-sign-up
        top: 0%
    .footer-sign-up
        flex: 1
        display: flex
        margin-bottom: 44px
        align-items: end
        margin-top: 0px
