.forgotPassword-link
    margin-top: 32px
    u
        font-weight: 500
        height: 23px
        line-height: 23px

.signing-block-sign-in
    margin-top: 264px

.footer-sign-in
    margin-top: 257px

@media (max-width: 576px)
    .signing-block-sign-in
        margin-top: -24px
    .footer-sign-in
        +footer-style
